body {
    font-family: Arial;
    margin: 0px 0px 0px 6px;
    
}

li {
    list-style: none;
    padding: 5px 0px;

}

.topicname-link {
    color:rgb(2, 2, 73);
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

.topicname-link:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.app-title {
    margin-left: -6px;
    padding: 15px 6px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(2, 2, 73);
    color: white;
}

.search-button {
    margin-top: 4px
}

.search-result-threadname {
    font-size: 16px;
}

.search-result-box {
    padding-left: 6px;
}

.search-result-summary {
    font-size: 14px;
    font-weight: 700;
}

.search-result-message {
    padding-left: 12px;
}
