{% extends "layout.html" %}
{% block pagenav %}
{% if session.admin %}
<div class="navbar-div-child"><a class="navbar-link" href="/manage-topics">Hallinoi alueita</a></div>
{% endif %}
{% endblock %}
{% block content %}
{% if session.username %}
<h2>Keskustelualueet</h2>
<ul>
{% for topic in topics %}
<li>
    <a class="topicname-link" href="{{ url_for('topic', name=topic.name.lower()) }}">{{ topic.name }}</a>
    {% if topic.secret %}
    <span class="admin-status"> (salainen alue)</span>
    {% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<h2>Kirjaudu sisään</h2>
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username" required></p>
<p>Salasana:<br>
<input type="password" name="password" required></p>
<input type="submit" value="Kirjaudu">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        {% if message == "success" %}
            <p class="success-message">Käyttäjätunnus luotu onnistuneesti!</p>
        {% else %}
            <p class="errormessage">{{ message }}</p>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<p>Uusi käyttäjä? <a href="/register">Rekisteröidy</a></p>
{% endif %}
{% endblock %}