{% extends "layout.html" %}
{% block content %}
{% if session.username %}
<p>Olet kirjautunut nimellä <b>{{ session.username }}</b></p>
<a href="/logout">Kirjaudu ulos</a>
<hr>
{% if session.admin %}
<a href="/new-topic">Luo uusi keskustelualue</a>
{% endif %}
<h2>Keskustelualueet</h2>
<ul>
{% for topic in topics %}
<li><a href="{{ url_for('topic', name=topic.name.lower()) }}">{{ topic.name }}</a></li>
{% endfor %}
</ul>
<form action="/result" method="GET">
Hakusana:
<br>
<input type="text" name="query">
<br>
<input type="submit" value="Hae viestejä">
</form>
{% else %}
<h2>Kirjaudu sisään</h2>
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<p>Uusi käyttäjä? <a href="/register">Rekisteröidy</a></p>
{% endif %}
{% endblock %}