{% extends "layout.html" %}
{% block content %}
{% if session.username %}
{% if session.admin %}
<a href="/new-topic">Luo uusi keskustelualue</a>
{% endif %}
<h2>Keskustelualueet</h2>
<ul>
{% for topic in topics %}
<li><a class="topicname-link" href="{{ url_for('topic', name=topic.name.lower()) }}">{{ topic.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<h2>Kirjaudu sisään</h2>
<form action="/login" method="POST">
<p>Käyttäjätunnus:<br>
<input type="text" name="username" required></p>
<p>Salasana:<br>
<input type="password" name="password" required></p>
<input type="submit" value="Kirjaudu">
</form>
<p>Uusi käyttäjä? <a href="/register">Rekisteröidy</a></p>
{% endif %}
{% endblock %}