<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Keskustelusovellus{% endblock %}
        </title>
    </head>
    <body>
        <div class="app-title">Keskustelusovellus</div>
        {% block content %}{% endblock %}
        {% if session.username %}
        <form action="/result" method="GET">
            <hr>
            <input type="text" name="query" placeholder="Hakusana">
            <br>
            <input type="submit" value="Hae viestejä" class="search-button">
        </form>
        {% endif %}
    </body>
</html>