<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Keskustelusovellus{% endblock %}
        </title>
    </head>
    <body>
        <div class="app-title">
            <a href="/">Keskustelusovellus</a>
        </div>
        {% if session.username %}
            <p class="username-on-page">Kirjautuneena sisään nimimerkillä <b>{{ session.username }}</b>{% if session.admin %}<span class="admin-status"> (admin)</span>{% endif %}</p>
            <hr>
            <div class="navbar-div">
                <div class="navbar-div-child"><a class="navbar-link" href="/">Etusivu</a></div>
                <div class="navbar-div-child"><a class="navbar-link" href="/logout">Kirjaudu ulos</a></div>
            </div>
            <hr>
        {% endif %}
        {% block content %}{% endblock %}
        {% if session.username %}
        <form action="/result" method="GET">
            <hr>
            <input type="text" name="query" placeholder="Hakusana" required>
            <br>
            <input type="submit" value="Hae viestejä" class="search-button">
        </form>
        {% endif %}
    </body>
</html>