{% extends "layout.html" %}
{% block content %}
<h3>Luo uusi ketju alueelle</h3>
<a class="topicname-link" href="{{ url_for('topic', name=topicname.lower()) }}">{{ topicname.capitalize() }}</a>
<form action="{{url_for('new_thread', topicname=topicname)}}" method="POST">
<p>Keskustelun aihe:</p>
<input type="text" name="thread-name" required>
<p>Aloitusviesti:</p>
<textarea name="content" rows="3" cols="40" required></textarea>
<br><br>
<input type="submit" value="Luo uusi keskustelu">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
            <p class="errormessage">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}