{% extends "layout.html" %}
{% block pagenav %}
{% if can_edit %}
<div class="navbar-div-child"><a class="navbar-link" href="{{url_for('edit_thread', topicname=topicname, threadname=threadname)}}">Muokkaa ketjua</a></div>
{% endif %}
{% endblock %}
{% block content %}
<p><a class="topicname-link" href="{{ url_for('topic', name=topicname.lower()) }}">{{ topicname.capitalize() }}</a> / 
<a class="topicname-link" href="{{url_for('thread', name=topicname.lower(), thread=threadname.lower())}}">{{ threadname.capitalize() }}</a></p>
<hr>
{% for message in messages %}
<p><b>#{{ message.rownumber }}</b></p>
<p><b>{{ message.created_at.strftime('%d.%m.%Y - %H:%M') }}</b></p>
{% if message.edited_at %}
<p><b>MUOKATTU {{ message.edited_at.strftime('%d.%m.%Y - %H:%M') }}</b></p>
{% endif %}
<p><b>{{ message.username }} kirjoitti:</b></p>
<p>{{ message.message }}</p>
{% if message.username == session.username and message.deleted == False %}
<p><a href="{{ url_for('edit_message', id=message.id) }}">Muokkaa</a> &#124; <a href="{{ url_for('delete_message', id=message.id, topic=topicname.lower(), thread=threadname.lower()) }}">Poista</a></p>
{% elif session.admin and message.deleted == False  %}
<a href="{{ url_for('delete_message', id=message.id, topic=topicname.lower(), thread=threadname.lower()) }}"> Poista</a>
{% endif %}
<hr>
{% endfor %}
<form action="{{url_for('new_message', topicname=topicname, threadname=threadname)}}" method="POST">
    <p>Kirjoita uusi viesti:<br>
    <textarea name="content" rows="3" cols="40" required></textarea>
    <br><br>
    <input type="submit" value="Lähetä viesti">
    </form>
{% endblock %}