{% extends "layout.html" %}
{% block pagenav %}
<div class="navbar-div-child"><a class="navbar-link" href="{{url_for('new_thread', topicname=topicname)}}">Luo uusi ketju</a></div>
{% endblock %}
{% block content %}
<div class="navbar-div">
<div><h2>{{ topicname.capitalize() }}</h2></div> 
{% if secret %}
<div class="secret-div secret-header"><p> (salainen alue)</p></div>
{% endif %}
</div>
<hr>
<ul>
{% for thread in topicthreads %}
<li><a class="topicname-link" href="{{url_for('thread', name=topicname, thread=thread.name.lower())}}">{{ thread.name }}</a></li>
<p>Viestejä: {{ thread.messages }}</p>
<p>Viimeisin viesti {{ thread.latest.strftime('%d.%m.%Y - %H:%M') }}</p>
<hr>
{% endfor %}
</ul>
{% endblock %}