{% extends "layout.html" %}
{% block content %}
<br></be><a class="topicname-link" href="{{url_for('topic', name=topicname.lower())}}">{{ topicname.capitalize() }} <span class="admin-status"> (salainen alue)</span></a>
<h3>Lisää alueelle käyttäjiä</h3>
{% if not userlist %}
    <p>Kaikilla käyttäjillä on jo oikeudet alueelle</p>
{% else %}
<form action="{{url_for('topic_permissions', name=topicname.lower())}}" method="POST">
<label for="username">Valitse käyttäjä jolle lisätään oikeudet alueelle:</label><br><br>
<select name="username">
    {% for user in userlist %}
        <option value="{{ user[0] }}">{{ user[0] }}</option>
    {% endfor %}
</select>
<input type="submit" value="Lisää oikeudet">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        {% if message == "Käyttäjäoikeuksien lisääminen epäonnistui" %}
        <p class="errormessage">{{ message }}</p>
        {% else %}
        <p class="success-message">{{ message }}</p>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}